:root{
    --width-display_left: 20%;
    --width-display_center: 20%;
    --width-display_right: 20%;
    --color-main: blue;
}

*{margin: 0px; padding:0px; box-sizing: inherit;}
body{
    background-color: black;
    font-size: 18px;
}
.display{
    display: flex;
}
.display .display_left{
    flex: var(--width-display_left);
    height: auto;
}
.display .display_center{
    flex: var(--width-display_center);
    height: auto;
}
.display .display_right{
    flex: var(--width-display_right);
    height: auto;
}
.bnt{
    border-radius: 8px;
}
.bnt:hover{
    opacity: 0.8;
    outline: 5px solid red;
}