:root{
    --width-pointO__content: 200px;
    --height-pointO__content: calc(var(--width-pointO__content) * 1.5);
}

.header{
    height: 20%;
    position:-webkit-sticky;
    position:sticky;
}
.header__navbar{
    display: flex;
    justify-content: space-between;
    height: calc(40% * auto);
}
.header__navbar-item{
    display: flex;
}
.header__notyfi{
    content: "";
}
.header__notyfi--content{
    width: 250px;
    height: 200px;
}
.header__acount{
    content: "";
}
.header__acount-login{
    content: "";
}
.header__acount-register{
    content: "";
}









.list{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.list li{
    list-style-type: none;
    margin: 5px 0px;
    padding-left: 5px;
    float: left;
    border-left: 5px solid var(--color-main);
    text-overflow: clip;
}