:root{
    --ration-header: 12vh;
}

.web{
    width: 100%;
    height: 100%;
    position: relative;
}
.header{
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    height: var(--ration-header);
    display: flex;
    justify-content: stretch;
    align-content: center;
    background: rgb(143, 212, 143);
}
.header_left{
    display: flex;
    flex-direction: row !important;
}
.header_right{
    display: flex;
}
.header_center{
    display: flex;
    justify-content: space-around;
}
.header_item{
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    min-width: var(--ration-header);
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
    
}


form div+div{
    margin: 12px 0px;
}
.notify{
    display: none;
    justify-content: center;
    max-width: 700px;
    padding: 0px 100px !important;
}
form{
    width: 100%;
}
#bnt_login{
    width: 30%;
}

hr{
    height: 5px;
    background-color: white;
}

.meomeo{

}
.card{ /*set lai cai cua fw*/
    color: black;
    position: static;
}
.nav-link:hover{
    background: var(--color-main);
}
.nav-link .active{
    background: var(--color-main);
}