main { display: block;}h1 { font-size: 2em; margin: 0.67em 0;}pre { font-family: monospace, monospace; font-size: 1em;}a { background-color: transparent;}abbr[title] { border-bottom: none; text-decoration: underline; text-decoration: underline dotted;}b,strong { font-weight: bolder;}code,kbd,samp { font-family: monospace, monospace; font-size: 1em;}small { font-size: 80%;}sub,sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}sub { bottom: -0.25em;}sup { top: -0.5em;}img { border-style: none;}button,input,optgroup,select { font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0;}button,input { overflow: visible;}button,select { text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] { -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner { border-style: none; padding: 0;}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring { outline: 1px dotted ButtonText;}fieldset { padding: 0.35em 0.75em 0.625em;}legend { box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal;}progress { vertical-align: baseline;}[type="checkbox"],[type="radio"] { box-sizing: border-box; padding: 0;}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button { height: auto;}[type="search"] { -webkit-appearance: textfield; outline-offset: -2px;}[type="search"]::-webkit-search-decoration { -webkit-appearance: none;}::-webkit-file-upload-button { -webkit-appearance: button; font: inherit;}details {display: block;}summary {display: list-item;}template {display: none;}[hidden] {display: none;}
:root{
  --color-main: blue;
  --color_border-main: black;
  --color-text-main: white;
  --color-start: violet;
  --color-end: white;
  --color-dropdown_content: rgb(0, 166, 249);
  --color-template_scroll: white;
  --color-notify: rgb(0, 242, 255);

  --size-icon:  2.5em;
  --width-display_left: 20%;
  --width-display_center: 60%;
  --width-display_right: 20%;
  --size-icon_qr: 100px;
  --size-photo: 200px;
  --width-__list: 30%;
  --ration-_list-title: 10%;
  --ration-__list-list-item: 8%;
  --height-template_scroll:200px;
  --width-template_scroll: 200px;
  

}
*{
  box-sizing: inherit;
}
html{
  box-sizing: border-box;
  color: var(--color-text-main);
}
body{
  background-color: black;
  background-size: cover;
  background-repeat: repeat-y;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  color: var(--color-text-main);
}
.bnt{
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px;
  cursor: pointer;
  text-align: center;
  list-style-type: none;
}
.bnt:hover{
  opacity: 0.8;
}

.direction_row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.direction_column{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}
.direction_center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
li a{
  color: var(--color-text-main);
  text-decoration: none;
}
.icon{
  width: var(--size-icon);
  height: var(--size-icon);
  float: right;
  padding: 2px;
  margin: 2px;
  border-radius: 50%;
  background-color: inherit;
}
.icon_qr{
  width: var(--size-icon_qr);
  /*height: var(--size-icon_qr);*/ /*column bo height*/ 
  float: right;
}
.photo{
  width: var(--size-photo);
}
.table{
  border-width: 2px;
  border-style: solid;
}
input{
  outline: 0px;
  border-radius: 10px;
  padding-left: 15px;
  width: 100%;
}
input:focus{
  opacity: 0.9;
  border: 2px solid red;
}
textarea{
  width: 100%;
  min-height: 100px;
  overflow: auto;
  border-radius: 8px;
}
fieldset legend{
  font-size: 20px;
  display: flex;
}
.display{
  display: flex;
  justify-content: space-between;  
}
.display .display_left{
  flex: var(--width-display_left);
  height: auto;
}
.display .display_center{
  flex: var(--width-display_center);
  height: auto;
}
.display .display_right{
  flex: var(--width-display_right);
  height: auto;
}
.dropdown {
  position: relative;
  display: flex;
  flex-direction: row;
}
.dropdown_item{
  color: var(--color-text-main);
  font-size: 16px;
  border: none;
}
.dropdown_content {
  background-color: var(--color-dropdown_content);
  margin-top: 100%; /*100% "nay" phu thuoc vao cross axits-> anh huong boi flex*/
  display: none; 
  position: absolute; 
  z-index: 1000000;
  cursor: pointer;
  /*min-width: 200px;*/ /*doi voi nhung dong code tai su dung khong nen set kich thuoc min, max vi dan den khong set lai kich thuoc vuot pham duoc*/
  /*overflow: auto;*/
 /* overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none; */
}
/*.dropdown_content::-webkit-scrollbar { 
  width: 0;
  height: 0;
}*/
/*sau overflow: auto và ::-webkit-scrollbar được dùng để ẩn thanh cuốn nhưng vẫn cuộn được, cùng tì hiển nó nào*/
.template_scroll{
  height: var(--height-template_scroll);
  width: var(--width-template_scroll);
  background-color: var(--color-template_scroll);
  color: black;
  border-radius: 8px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.template_scroll::-webkit-scrollbar {
  width: 0 ;
  height: 0;
}
.no_scroll{
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.no_scroll::-webkit-scrollbar {
  width: 0 ;
  height: 0;
}
.dropdown_content a {
  color: var(--color-text-main);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown_content {
  display: block;
  opacity: 0.9;
  
}
/*----*/
.navbar{
  position: sticky;
  flex-direction: row;
  flex-wrap: wrap;
  top: 0px;
  overflow: auto;
}
/*part trình bày các phần nội dung link thông qua danh sách và iframe*/
.display_list_iframe{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
/*part trinh bày list*/
.__list{
  display: flex;
  flex-direction: column;
  width: var(--width-__list); /*convert cho phu hop voi iframe thoi*/
  height: 100%;
}
.__list-title{
  display: flex;
  flex-direction: column;
  background-color: green;
  margin-block-start: 0px;
  margin-block-end: 0px;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px;
  flex-basis: var(--ration-_list-title);
}
.__list-list{
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-basis: 100% - var(--ration-_list-title);
}
.__list-list-item{
  width: 100%;
  min-height: 8%;
  text-transform: lowercase;
  padding: 5px 0px 5px 20px;
  border-color: red;
  background-color: #201a19;
  margin: 8px 0px;
  color: white;
  border-left: 8px solid var(--color-main);
  text-decoration: none;
  text-align: left;
  position: relative;
  left: 0px;
  cursor: pointer;
}

.__list-list-item:hover{
  opacity: 0.5;
}

/**/
.videoWrapper {
  display: flex;
  align-items: stretch;
  position: relative;
  /*height: 0;*/
  width: 100%;
  height: 100%;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}
ul{
  padding: 0px;
}
ul li{
  text-decoration: none;
  list-style-type: none;
}
.notify{
  width: 100%;
  height: 50%;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--color-notify);
  /*position: absolute;*/
  position: absolute;
  color: black;
  z-index: 1002;
}
.close{
  font-size: 20px;
}
.close::after{
  content: "X";
}
.close:hover{
  color: red;
  outline: 3px solid red;
  outline-offset: 3px;
}
label{
  font-size: 20px;
}
#bnt_login{
  min-width: 100px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  text-shadow: 2px;
  border: 2px solid red;
  background-color: inherit;
  border-radius: 16px;
  box-shadow: 8px 8px 8px 0 ;
}
#bnt_login:hover{
  opacity: 0.8;
}
.bnt_cancel{
  border-radius: 8px;
  background-color: rgb(184, 110, 110);
  color: white;
}
a{
  color: red;
}

.left-to-right{
  content: "-";
  position: relative;
}
.left-to-right:hover {
  animation: hover_L-R 0.5s ease-out forwards;
}
@keyframes hover_L-R {
  from{left: 0px;}
  to {left: 20px;}
}
.display_center_center{
  display: flex;
  align-items: center;
  text-align: center;
}